{% extends 'BlogBundle::layout.html.twig' %}
{% block titre%}Detail du blog "{{ blog.titre }}"{% endblock %}
{% block content %}
<table class="table table-striped">
	<thead>
		<tr>
			<td>ID</td>
			<td>Titre</td>
			<td>Description</td>
			<td>Date</td>
		</tr>
	</thead>
		{% include ('BlogBundle:Default:item.html.twig') %}
</table>
<br />
<a href="{{ path ("blogs") }}">Retour à la liste des blogs</a>
{% endblock %}